In [6]:
import nltk
# nltk.download('punkt')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import re

In [7]:
positive_reviews = BeautifulSoup(
    open('positive.review').read(), features="lxml")
negative_reviews = BeautifulSoup(
    open('negative.review').read(), features="lxml")

positive_reviews = positive_reviews.findAll('review_text')

trigrams_matrix = {}


def update_trigram_matrix(trigram):
    if trigram not in trigrams_matrix.keys():
        trigrams_matrix[trigram] = 1
    else:
        trigrams_matrix[trigram] += 1

In [8]:
pattern = '[^a-zA-z]'
for review_text in positive_reviews:
    line = review_text.text.lower()
    line = re.sub(pattern, ' ', line)
    # print(line)
    tokens = nltk.tokenize.word_tokenize(line)
    if len(tokens) < 3:
        continue

    for i in range(len(tokens) - 2):
        trigram = (tokens[i], tokens[i+1], tokens[i+2])
        update_trigram_matrix(trigram)

In [9]:
df = pd.DataFrame(zip(trigrams_matrix.keys(), trigrams_matrix.values()), columns=[
                  "trigram", "count"])
# print(trigrams_matrix)
print(df.head(5))

                   trigram  count
0     (i, purchased, this)     20
1  (purchased, this, unit)      1
2        (this, unit, due)      1
3          (unit, due, to)      1
4      (due, to, frequent)      1

In [12]:
df.describe()

              count
count  90889.000000
mean       1.189121
std        1.133312
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max       86.000000

In [18]:
df.sort_values(by="count", ascending=False, inplace=True)

TypeError: sort_values() got an unexpected keyword argument 'ignore_index'

In [17]:
df.head()

                trigram  count
478         (i, don, t)     86
191        (a, lot, of)     57
2622      (this, is, a)     55
461   (i, bought, this)     51
6182     (if, you, are)     47